

.bg-navy {
    background-color: #001f3f;
}

.azul-marino{
  color:#001f3f;
}

.hr-marino{
  border:none;
  height:3px;
  background:#001f3f;
  width:120px;
}
.bg-navy:hover {
  background-color: #003366; /* azul un poco más claro */
  color: white;
}

.drop-area{
  border:2px dashed #001f3f;
  border-radius:10px;
  background:#f8f9fa;
  transition:0.3s;
  cursor:pointer;
}

.drop-area:hover{
  background:#eef3f8;
}

.drop-area.dragover{
  background:#dbe9f6;
  border-color:#003366;
}