---
import BaseLayout from "../layouts/BaseLayout.astro";
import UploadForm from "../components/UploadForm.astro";
---

<BaseLayout>

<h2 class="azul-marino fw-bold text-center">Subir archivo</h2>
<hr class="hr-marino mx-auto">

<UploadForm />

</BaseLayout>